* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #C9D1D9;
    background-color: #0D1117;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.navbar-container {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}
 
.name> span{
    font-weight: bolder;
    color: #fff;
}
.navbar {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-size: 2.5rem;
}

.nav-link {
    margin-left: 20px;
    font-size: 2rem;
}

a {
    color: rgb(153, 0, 255);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: rgb(195, 0, 255) ;
    text-decoration: underline;
}

.content-container {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}

.content {
    width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-top: 20px;
    margin-left: 30px;
    font-size:1.3rem;
}

li {
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}
