body {
  font-family: monospace;
}

a:link {
  text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
  text-decoration: underline;
}

/* everything below this copied straight from bettermotherfuckingwebsite.com */

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color:#444;
  padding: 0 10px;
}
